// Global layout.
body {
  background: map-get($colors, ui-light);
}

.container {
  font-family: Helvetica, Arial, sans-serif;
  margin: 5%;
  max-width: 1000px;
  width: 100%;

  .counter {
    color: map-get($colors, darkgray);
  }
}

.display-none {
  display: none !important;
}
