// Navbar module
.navbar {
  background-color: map-get($colors, lightgray);
  padding-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;

  &__item {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: map-get($colors, gray);
    margin-right: 20px;
    text-decoration: none;
  }

  &__item--active {
    font-weight: 700;
    color: map-get($colors, darkgray)
  }
}
